**/.DS_Store
.idea
.phpunit.result.cache
.phpunit.cache
.vscode
build
composer.lock
coverage
docs
node_modules
phpunit.xml
phpstan.neon
testbench.yaml
vendor
resources/dist/survey-js-creator.js
resources/dist/survey-creator.css
/documentation/
/survey-js-field/
